body {
    background: #212125;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    background: #212125;
}

.link {
    color: white;
    text-decoration: none;
    background-color: #9147ff;
    padding: 10px 25px;
    border-radius: 8px;
}

.link:hover {
    background-color: #772ce8;
}

iframe {
    border-radius: 10px;
}